html {
  font-family: Lora, serif;
}

.masthead {
  color: #fff;
  background: url("../images/leaf-bg.svg") repeat left top / 64px #588477;
}

.logo {
  text-align: center;
}

.nav {
  text-align: center;
  text-decoration: none;
}

.nav a {
  text-decoration: none;
  color: #fff;
  background-color: #467366;
  border-radius: 8px;
  border: 3px solid #2d5a4d;
}

.nav a:hover {

}

.banner {
  position: relative;
  overflow: hidden;
  background: url("../images/banner.jpg") no-repeat center top/ cover;
  padding-top: 56.25%;

}

.banner-content {
  position: absolute;
  width: 100%;
  bottom: 15%;
}

@media only screen and (min-width: 60em) {

  .logo {
    text-align: left;
  }

  .nav {
    text-align: right;
  }

}
